/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing:unset(--secondary-color);
}

body {
  font-family:cursive;
  font-size: 14px;
  line-height: 1.6;
  color: var(--text-color);
  background-color:rgb(80, 107, 33);
}

h1, h2, h3 {
  font-weight: bold;
  color: var(--primary-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
